    <div class="container">
        <div class="row" id="mainbody">  
            <header class="row" id="header">
                <h><strong>Grumpy Camper</strong></h>
                <p> Your personal camp site ratings! </p>
            </header>
    
        </div>

        <div class="dropdown">
            <h2>Select Campground:</h2>
            <div class="dropdown">
                
            </div>
        </div>

    </div>