<div class="container">
    <div class="row" id="mainbody">
        <header class="row" id="header">
            <h>
                <strong>Grumpy Camper</strong>
            </h>
            <p> Your personal camp site ratings! </p>
        </header>
    </div>

    <div>
        <h5>Select a campground</h5>
        <ul>
            {{#each camps}}
            <li class="camps"><a href="/api/camp/{{this}}">{{this}}</a></li> 
            
            {{/each}}
        </ul>
    </div>

</div>



<script>
    $(document).ready(function() {
        $(document).on('click', ".camps", function(e){
            console.log(this)
        });
    });
</script>